@charset "UTF-8";
/* @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css); */
.cart {
  /* width: 940px; */
  width: 100%;
  margin: 20px auto 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lists {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  /* margin-right: 20px; */
}

.lists .title {
  text-align: center;
  color: #333;
  /* background: #2e86de; */
  font-size: 1.5rem;
  padding: 15px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}

.lists table {
  width: 100%;
  border-spacing: 20px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 15px;
}

.lists table tr {
  height: 130px;
}

.lists table tr i {
  cursor: pointer;
}

.lists table td {
  text-align: center;
  padding: 0 10px;
}

.lists table td img {
  width: 110px;
}

.lists table td:first-child {
  text-align: left;
  padding: 0;
}

.lists table .item_title {
  font-size: 1.25rem;
}

.lists table .item_title .price {
  font-size: 1rem;
}

.lists table .select * {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.lists table .select input {
  text-align: center;
  outline: none;
  border: 1px solid #eaf0ed;
}

.lists table .select input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.lists table .select span {
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  border: 1px solid #eaf0ed;
}

.order_info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #333;
  /* background: #2e86de; */
}

.order_info h2 {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-weight: normal;
  margin: 15px auto;
  border-bottom: 1px solid #333;
}

.order_info .price, .order_info .fee, .order_info .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  letter-spacing: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order_info .total {
  font-weight: bold;
  font-size: 1.25rem;
}

.order_info .checkout {
  width: 20%;
  cursor: pointer;
  padding: 15px;
  background: #e68686;
  text-align: center;
  color: #eaf0ed;
  font-size: 1.5rem;
  border-radius: 50px;
  float: right;  
}

.delete_btn{
  color: #2e86de;
  cursor: pointer;
}

.order_info .checkout a{
color: #fff;
}

main > .container {
  /* padding: 60px 0px 0; */
  margin-top: 1%;
  /* margin-left: 0px; */
}
